h1{
    border-style:solid;
    color:#f00;
    margin-left: 600px;
}
.header{
  background-color: rgb(164, 231, 231);
  border-style:ridge ;
  border-color:#ad2b2b;
 
  display:flex;
  justify-content:space-between ;
}
.side-description{
    display:flex;
    flex-direction: column;
    justify-content: first baseline;
}
.grid{
 display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
 
}
.item{
    border-style: dotted;
    border-color:#3b00ff;
    position: relative;
}
